.banner{
	width: 30%;
	height:300px;
	position:static;
	top:0px;

}
.fas{
	width:50px;

}
body {
	font-family: "Open Sans", sans-serif;
	color: #444444;
}
#modal{
	float:right;
	position:absolute;
	left:300px;
	
}
#photocap {
	color: #555555;
	margin: 5px 0 30px 0;
	font-size: 24px;
	font-weight: 400;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 580px)  {
	#mainnav {
		display: none;
		float: right;
		position: absolute;
		top: 0px;
	}
	div.topnavbar{
		display:none;
	}
	div.modal fade{
		display:block;
	}

	#welcome {
		font-size: 20px;
		margin: 0;
		color: #222222;
		font-family: "Poppins", sans-serif;
		font-weight: bold;
	}
	.banner {
		width: 100%;
		height:300px;
		position: static;
		top: 0px;
	}
	#photocap {
		    color: #555555;
        font-size: 15px;

	
    
}
	
}
@media only screen and (min-device-width : 580px) and (max-device-width : 1024px) 
 {
	#modal{
		display: none;
	}
	#mainnav {
		display: inline-block;
		float: right;
		position: absolute;
		top: 0px;
	}
}
@media only screen and (min-width : 1224px) {
	#modal{
		display:none;
	}
}



	.icon-box {
		box-shadow: 0 0 29px 0 rgb(68 88 144 / 12%);
		padding: 30px;
		text-align: center;
		transition: all 0.3s ease-in-out;
		color: black;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: "Roboto", sans-serif;
		color: black;
	}


	.icon-box:hover {
		overflow: hidden;
		text-decoration: none;
		transition: all 0.3s ease-in-out;
		transition-timing-function: ease-in;
		background-color: #106eea;
		color: white;
	}

	.navbar-nav .nav-link {
		color: black;
		font-weight: bold;
	}

	#mainnav {
		position: sticky;
		top: 0;
		padding: 5px;
		font-color: black;
	}


	img {
		width: 100%;
		height: 300px;
		top: 0px;
	}

	#welcome {
		font-weight: 20px;
		position: absolute;
		top: 200px;
		left: 16px;
		line-height: 24px;
	}

	h2 {
		position: absolute;
		top: 300px;
	}

	.about-section {
		background-color: aqua;
		transition: ease-in;
	}

	#about-head {
		font-size: 13px;
		letter-spacing: 1px;
		font-weight: 70;
		padding: 10px 20px;
		margin: 0;
		background: #e7f1fd;
		color: #106eea;
		display: inline-block;
		border-radius: 50px;
		position: relative;
		top: 50px;
		left: 600px;
	}

	.about-image {
		position: absolute;
		top: 50px;
		left: -20px;
		padding: 100px;
		width: 700px;
		max-width: 100%;
	}

	#AboutBody {
		position: relative;
		padding-left: -200px;
		padding-top: 100px;
		text-align: center;
	}

	.circle {
		height: 35px;
		width: 35px;
		background-color: white;
		border-radius: 50%;
		display: inline-block;
	}

	.row {
		padding-top: 50px;
		padding-left: 50px;
	}





	.skill .progress {
		padding: 0;
		margin: 0 0 6px 0;
		text-transform: uppercase;
		display: block;
		font-weight: 600;
		font-family: "Poppins", sans-serif;
		color: #222222;
	}

	.counts {
		padding: 30px 30px 25px 30px;
		width: 100%;
		position: relative;
		text-align: center;
		background: #f1f6fe;
	}


	.count-box {
		padding: 80px 50px 40px 50px;
		background: #e7f1fd;
		text-align: center;
		background: #f1f6fe;
		font-size: 15px;
		font-family: "Roboto", sans-serif;
		width: 100%;
	}

	.clients {
		padding: 25px;
		position: relative;
		top: 50px;
	}

	.section-bg {
		background-color: red;
	}

	section {
		display: block;
	}

	.img-fluid {
		max-width: 100%;
		height: auto;
	}

	img, svg {
		vertical-align: middle;
	}